@import "src/variables";

.video-preview {
  display: flex;
  position: relative;
}

.video-preview--horizontal {
  border-bottom: 1px solid $grey;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: $spacing-xl;
  padding-bottom: $spacing-xl;

  &:last-of-type {
    border-bottom: none;
  }
}

.video-preview--vertical {
  flex-direction: column;
  margin-bottom: $spacing-xl;
}

.video-preview__placeholder {
  color: white;
  font-size: 4rem;
  margin-top: -((9 / 16) * 100%);

  .video-preview--horizontal & {
    display: none;
  }

  span {
    color: $primary;
  }
}

.video-preview__aspect-ratio--outer {
  .video-preview--horizontal & {
    flex-basis: calc(35% - #{$spacing-lg * 2});
    margin-right: $spacing-lg;
  }

  .video-preview--vertical & {
    align-items: center;
    background-color: $grey-light;
    display: flex;
    height: 0;
    justify-content: center;
    margin-bottom: $spacing-lg;
    overflow: hidden;
    padding-top: (9 / 16) * 100%;
    position: relative;
    width: 100%;
  }
}

.video-preview__aspect-ratio--inner {
  .video-preview--horizontal & {
    img {
      display: block;
    }
  }

  .video-preview--vertical & {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    img {
      height: auto;
      width: 100%;
    }
  }
}

.video-preview__meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .video-preview--horizontal & {
    flex-basis: 65%;
  }
}

.video-preview__title {
  .video-preview--horizontal & {
    font-size: 1rem;
    line-height: 1;
  }

  .video-preview--vertical & {
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: $spacing-md;
  }

  a {
    color: white;
  }
}

.video-preview__labels {
  display: flex;

  .video-preview--horizontal & {
    @media screen and (min-width: $desktop) {
      display: none;
    }

    @media screen and (min-width: $widescreen) {
      display: flex;
    }
  }
}

.video-preview__label {
  margin-bottom: $spacing-sm;
  margin-right: $spacing-sm;

  .video-preview--horizontal & {
    margin-bottom: 0;
  }
}
