@import "./src/variables";

.detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div:first-of-type {
    flex-basis: 100%;

    @media screen and (min-width: $desktop) {
      flex-basis: 70%;
    }
  }

  > div:last-of-type {
    flex-basis: 100%;

    @media screen and (min-width: $desktop) {
      flex-basis: calc(30% - #{$spacing-xl * 2});
    }
  }
}
