@import "src/variables";

.log-in {
  max-width: 100%;

  @media screen and (min-width: $desktop) {
    max-width: 50% !important;
  }
}

.log-in__form {
  .control.has-icons-left,
  .control.has-icons-right, {
    .input {
      color: $grey-dark;

      &:focus {
        ~ .icon {
          color: $grey-dark;
        }
      }
    }

    .input::placeholder {
      color: $grey-light;
    }
  }
}
